<!-- <header class="text-gray-600 body-font shadow-sm shadow-gray-500">
  <div class="container flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <ion-icon name="game-controller" class="h-8 w-8"></ion-icon>
      <span class="ml-3 text-xl">Nintendo Game Library</span>
    </a>
  </div>
</header> -->
<header class="text-gray-600 body-font shadow-sm shadow-gray-500 dark:text-gray-100">
  <div class="container flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 dark:text-gray-200">
      <ion-icon name="game-controller" class="h-8 w-8"></ion-icon>
      <span class="ml-3 text-xl">Nintendo Game Library</span>
    </a>
  </div>
</header>