<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Nintendo Game Library</title>
</head>
<body class="w-full dark:bg-bg-darker">
    <!-- Load header -->
    <%- include("partials/header") %>

    <!-- Load search module -->
    <%- include("partials/search") %>

    <!-- Load table -->
    <%- include("partials/table", { data, pageCount }) %>

    <!-- Icon importing -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>